apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  default.conf: |
    server {
      listen 80;
      server_name localhost;
      location / {
          return 200 'Hello-World-2!';
          add_header Content-Type text/plain;
      }
    }
